<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.fraichementpresse.ca/image/policy:1.1818440:1522338959/3-cocktails-rhum-brun.png?w=700&$p$w=36d7d67);">
  <h1>Great Cocktails</h1>

  <p class="text-center">
    <span id="banner-typed-text"></span>
  </p>
</div>

<!--
<%= cl_image_tag("c8lwtm2bhvykdp0tfve2", width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("eamq3jkbwb3e6e3807dh",width: 150, height: 150, crop: :thumb, gravity: :face) %>
 -->


  <div class="container">
    <div class="grid">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip">
          <!-- fonction image faite dans le model cocktail -->
          <%= cl_image_tag cocktail.image %>
          <div class="card-trip-infos">
            <div>
              <h2><%= cocktail.name %></h2>
              <p>Ready to drink</p>
              <%= link_to "", cocktail_path(cocktail), class: "far fa-eye" %>
              <%= link_to "", edit_cocktail_path(cocktail), class: "far fa-edit"  %>
            </div>
            <%= link_to "", cocktail, method: :delete, data: {confirm: "Are you sure ?"}, class: "card-trip-pricing far fa-trash-alt" %>
            <img src="https://assets.afcdn.com/recipe/20180705/80274_w1024h768c1cx2378cy1278cxt0cyt0cxb4799cyb3199.jpg" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
      <div class="plus">
        <div class="plus1">
          <%= link_to "", new_cocktail_path, class: "fas fa-plus" %>
        </div>
      </div>
    </div>
  </div>

